language: ruby
rvm:
- 2.3.4
deploy:
  provider: heroku
  api_key:
    secure: QcNjoklU+ywraf6X1KeickAm5ueAf/84JAbVVsQR5/k4uhdi4sflgZJghoCWOrvLQXvs2tduPSYd+CAn+WV/siOT/6cX8L8B0OWyatCZC7TTQ8qzVcK5IxuloXV5RumDUjaaiOBB68lOwQo3XuBjMicuPbnP4SfQSjsoxVUDwseLz30JOx0zkcPb8xFWQpbNZTw4Z0kSDvrbF7Fh0dZBo52VmhwrRertR03bFYm338MyM+9fhUI0E4HhEIXhm3zSzwwgQbnjIXWtnG9yWeN/V8TGobDGpt5I7HXWJkTUfUbKfBt7TAQZIVE3UpX49K1pREE2ZEO2Ej6L+52zImMWTqJ/IcgHO/gkRISgStQKptQwh6g4ekxCIkPB7ZIxF/2ADU2DY+d0E4U9CqF6rCKZwGuI4Z/wt7wXTTSnhkF5Wlq7csiwrFPFVcgtEIUFdpUw3+GMznu9zjIGtdOpUhla/SVqnWIsm1PrwXGQbmOScPGFssN+bMK9JIVqSmdtQYF//ulxIulO2YYPM0k20LY0+C+j2KZrw7FoP5lML6zDJ6nbTjkzbJOF8LEeyM/w3VCsjOY5I292ZCzIC/6s6cdoHPmQOtKchcH/pa178Us7jiwZVQe3M3HGtKf9rDigDztkTd97fkEzwgTx9MPFRWy3z4cvMGI1cxf90tKj7b3CQaU=
  app: bolly10
  on:
    repo: bollytachi/bolly
